$chart-yellow: #a6a090;
$chart-yellow-bright: #e2d3a4;
$chart-red: #ac8ba5;
$chart-red-bright: #ecb0c8;
$chart-green: #859e8f;
$chart-green-bright: #abd0a3;
$chart-blue: #7890ac;
$chart-blue-bright: #96b8d4;
$chart-violet-bright: #a78ed7;
$chart-grey-bright: #c8c8c8;
$chart-orange-bright: #ffbb56;
$chart-pink-bright: #ff84e6;
$chart-yellow-stroke: #e2d3a4;
$chart-red-stroke: #ecb0c8;
$chart-green-stroke: #abd0a3;
$chart-blue-stroke: #96b8d4;

.solana-chart {
    margin-top: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-container {
    width: 95%;
}