$primary: #161F3D;
$secondary: #12203F;
$accent1: #12203F;
$accent2: #2A3455;
$outline: #8E93A9;

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-main{
    margin-top: .5em;
    display: flex;
    justify-self: center;
    justify-content:center;
    flex-direction: column;
    background-color: $secondary;
    padding-block: 1em;

    .dev-info {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dev-info-name{
        text-align: center;
        font-size: large;
        color: white;
        user-select: none;
    }
    
    .dev-links{
        font-size: 24px;
        margin-right: 0.5em;
        text-decoration: none;
        color: white;
        transition: all 300ms;
        &:hover{
            color: #75E6DA;
            transform: scale(1.02) translate(0px, 4px);
        }
    }
    
    .footer-logo {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-block: 1em;

        img {
            width: 36px;
            margin-right: 0.5em;
        }

        h1 {
            font-family: 'Inter', sans-serif;
            font-size: 20px;
        }
    }
}



.footer-bottom {
    background-color:#0b132c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 100%;

    p {

        padding-block: 0.5rem;
    }
}